html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url();
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

form {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.input-url {
    width: 90%;
}

.button-submit {
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
}