@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

* ::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: hsl(0, 0%, 10%);
}

.scaling {
    transition: transform 0.25s;
}

.scaling:hover {
    transform: scale(1.1);
}

.logo, .scroll-button {
    width: 40px;
    height: 40px;
    margin: 16px;
    position: fixed;
    z-index: 1000;
}

.logo {
    cursor: pointer;
    top: 0;
}

.scroll-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    background-color: white;
    color: black;
    border-radius: 100%;
    bottom: 0;
}

.scrollbar {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: hsla(0, 0%, 40%, 0.2);
    margin: 16px;
    position: fixed;
    height: 100px;
    right: 0;
    top: 42%;
}

.dot {
    cursor: pointer;
    transition: ease-in-out 0.25s;
    flex-grow: 0;
    width: 10px;
    height: 10px;
    background-color: hsl(0, 0%, 50%);
    border-radius: 25px;
    margin: 5px;
}

.active {
    background-color: hsl(0, 0%, 80%);

    flex-grow: 5;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100lvh;
    width: 100lvw;
}

.page * {
    overflow: hidden;
}

.separator {
    margin: 0 auto;
    width: 95%;
    height: 2px;
    background-color: hsl(0, 0%, 30%);
}

.full-separator {
    width: 100%;
}

.art-credit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.mobile-warning {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.landing-page {
    background-image: url("../images/landing-page-bg1.webp");
    min-height: 100%;

    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: hsla(0, 0%, 10%, 0.6);
    font-size: 3em;
    margin: 0;
    border-radius: 50px;
}

.about {
    display: flex;
}

.about-text {
    width: 90%;
    padding: 50px;
    text-align: center;
}

.about-text h1 {
    font-size: 2.5em;
    border-bottom: 2px solid hsl(0, 0%, 30%);
    margin-bottom: 16px;
}

.sections-container {
    height: fit-content;
    width: 90%;
    gap: 10%;
    display: flex;
    flex-wrap: wrap;
}

.section {
    min-width: 300px;
    min-height: 100px;
    flex: 45%;
}

.section h2 {
    border-bottom: 2px solid hsl(0, 0%, 30%);
    width: 100%;
}

.section ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.section ul li {
    cursor: default;
    font-size: 1.5em;
    margin: 10px;
}

.section p {
    margin: 10px 0;
}

.setup {
    display: flex;
    gap: 10%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
} 

.setup div {
    width: 45%;
    margin: 10px 0;
    font-size: 0.8em;
}

.setup div p {
    color: hsl(0, 0%, 80%);
    margin: 0;
}

.projects {
    display: flex;
    flex-direction: column;
}

.projects h1 {
    text-align: center;
    width: 90%;
    font-size: 2.5em;
    border-bottom: 2px solid hsl(0, 0%, 30%);
    margin-bottom: 16px;
}
.project-card h2 {
    font-size: 1.5em;
    border-bottom: 2px solid hsl(0, 0%, 30%);
    margin-bottom: 10px;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

/* responsiveness */
@media only screen and (max-device-width: 800px) {
    .landing-page {
        background-position: center;
        background-attachment: scroll;
    }

    .sections-container {
        gap: 0;
    }

    .about-text {
        padding: 10px;
    }
}

/* animations */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}